body {
  background-color: rgb(250, 250, 250);
  
}

.container {
 margin: 50px 0;
 

}

.card{
  margin: 0 2% !important;
}

.infected{
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}
.recoverd{
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths{
  border-bottom: 10px solid rgba(0, 0, 0, 0.5);
}

